@import 'variable';

.create_container{
  
  padding: 0.5em;
  .input_container_create{
    
    

    input{
      
      font-size: 20px;
      border: none;
      border-bottom: 1px solid gray; 
      width: 100%;
    }
    textarea{
      width: 100%;
      font-size: 18px;
      row-gap: 1px;
      overflow: auto;
      height: 20vh;
      border: solid 1px gray;
    }
    
  }
}
  .amazon{
      
      height: 25vh;
    }

  .aws{
    
    width: 400px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img_s3{
    
    width: 150px;
  }
  .drop_file{
    font-size: 18px;
    font-weight: 600;
    border: dotted 2px black;
    height: 150px;
    width: 150px;
  }

.current_ingredients{
  justify-content: space-around;
  display: flex;
  
  
  .ingredients_container{
    
    display: flex;
    justify-content: space-around;
   
     .ingredient_name_container{
      
      }
  }
  .quantity_unit_container{
    display: flex;
    .ingredient_quantity_container{
      
    }
    .ingredient_unit_container{
      margin-left: 1em;
    }
  }

}



@media(min-width:600px){
  .create_container{
    font-size: 28px;
    
    .input_container_create{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1em;
  
      input{
        font-size: 24px;
        width: 60%;
        
      }
      textarea{
        font-size: 24px;
      }
      .amazon{
        
        
      }
    }
  }
  
  .current_ingredients{
    font-size: 30px;
    
    
    
  }
  .create_edit_header{
    font-size: 30px;
  }


}

@media(min-width:1000px){
  .create_container{
    font-size: 14px;
    
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    
  }
}