@import 'variable';

.login_register_container{
  list-style: none;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  font-family: $font-stack;
  padding: 0;
  
  
  .login_container{
    .login_text{
      text-decoration: none;
      color: $primary-font-color;
    }
    .login_text:hover{
      color: black 
    }
  }
  .register_container{
    .register_text{
      text-decoration: none;
      color: $primary-font-color;
    }
    .register_text:hover{
    color: black 
  } 
}

}

.app_name_container{
  font-size: 20px;
  font-weight: 800;
  font-family: $fancy-font;
  
}

.app_name_logout_container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

.logout_button{
  font-size: 15px;
}
.logo {
  display: none;
}
@media(min-width:600px){
  .login_register_container{
    
    font-size: 35px;
  } 

  .app_name_container{
    background-image: 'logo.png';
    display: none;
  }
  .logo{
    display: block;
    height: 15vh;
  }
  .app_name_logout_container{
    height: 10vh;
  }
}

@media(min-width:1000px){
  .logo{
    
    position: relative;
    top: 0px;
    
  }
}
