.form_container{
  
  display: flex;
  flex-direction: column;
  padding: 1em;
  
  .input_container{
    font-size: 20px;
    border: none;
    border-bottom: 1px solid gray; 
    margin-bottom: .5em;
  }
}

.login_button{
  font-size: 14px;
  width: 30%;
  height: 3em;
  
  background: white;
  color: black;
}

.login_button:hover{
  background: black;
  color: white;
}

@media(min-width:600px){
  .form_container{
    font-size: 25px;
    .input_container{
    font-size: 30px;
    }
  }
  .login_button{
    font-size: 20px;
  }
}