@import 'variable';

.header_day_container{
  display: flex;
  justify-content: space-evenly;
  padding: .5em;
 
  
  .header_mealer{
    font-size: 18px;
    font-weight: bold;
    
  }
  .day{
    font-size: 18px;
  }
}

.color_container{
  
  margin-left: 1em;
  
  span{
    margin: 3px;
  }
}

.recipe_button_container{
  margin-left: 1.5em;
  
  list-style: none;
  padding: 0.5em;
  font-family: $font-stack;
  font-size: 18px;
}
.button_mealer_container{
  border: solid;
  
  .mealer_button{
    padding: .5em;
    border: $primary-font-color;
    color: white;
  }
}
