@import 'variable';

.recipe_container{
  
  max-width: 85%;
  margin: 0 auto;

  .title_container{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
  .image_container_in_recipe{
   width: 300px;
   height: 300px;
   
   
  }
  
  .ingredients_container{
    
    display: flex;
    justify-content: space-around;
    

    
    .quantity_unit_container{
      display: flex;
      
      
          
      .ingredient_unit_container{
        
        margin-left: 1em;
      }
    }
    
  }
}

.subheader_container {
  margin: 1.5em;
  font-weight: 600;
}

@media(min-width:600px){
  .recipe_container{
    
    
    .title_container{
      font-size: 30px;
      margin-bottom: .5em;
    }
    .image_container_in_recipe{
      float: left;
      margin: 1em;
      
      
    }
    .instruction_container{
      margin-bottom: 0.5em;
      font-size: 24px;
    }
    .ingredients_container{
      font-size: 24px;
      .quantity_unit_container{
        font-size: 24px;
        .ingredient_unit_container{
          font-size: 24px;

        }
      }
    }
  }
  .subheader_container{
    font-size: 28px;
    margin: 0;
  }
}

@media(min-width:1000px){
  .subheader_container{
    font-size: 25px;
    margin: 0;
  }

  .recipe_container{
    
    max-width: 900px;
    
    
    .title_container{
      margin-top: 2em;
    }
    .image_container_in_recipe{ @include imager(center);
      
      float: left;
      width: 40vw;
      height: 55vh;
      
      
    }
    .instruction_container{
      
      
    }
    .ingredients_container{
      
      .quantity_unit_container{
        
        .ingredient_unit_container{
          

        }
      }
    }
  }
}

