@import 'variable';

.create_recipe_button{
  font-size: 20px;
  background: transparent;
  padding: 0.5em;
  box-shadow: 1px 3px;
  border-radius: 3px;
  color: black;
}

.create_recipe_button:hover{
  background: $primary-font-color;
  color: white;
  transition: 500ms;
  
  
}



.header_title{
  text-align: center;
  margin: 0;
}

.create_button_container {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  
  
  
}

@media(min-width:600px){
  .header_title{
    font-size: 40px;
  }
  .create_recipe_button{
    font-size: 24px;
    background: transparent;
    
  }
  .recipes_container{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-around;
    padding: 1em;
    
  }

  
}

@media(min-width:1000px){
  .recipes_container{
    
  }
}