@import 'variable';
.recipe_card_container {
  
  max-width: 85%;
  margin: 2em;

  .title_container {
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 400;
    font-family: $fancy-font;
  }

  
}
@media(min-width:600px){
  .recipe_card_container{
    
    width: 22vw;
    .title_container{
      font-size: 20px;
    }

  }
  .house_image{
    display: block;
    width: 95%;
    margin: auto;
    padding: 0.5em;
  }
}