@import 'variable';
.recipe_card_container {
  
  max-width: 85%;
  margin: 2em;

  .title_container {
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 400;
    font-family: $fancy-font;
  }

  
}