.search_container{
  width: 100vw;
  
  
}

.search_input{
  width: 85%;
  font-size: 20px;
  margin: .5em;
  border: none;
  border-bottom: 1px solid gray; 
}
.fas {
  font-size: 20px;
}

@media(min-width:600px){
  .search_input{
    width: 75%;
    margin-left: 3em;
    font-size: 26px;
  }
}

@media(min-width:1000px){
  .search_input{
    
    width: 65%;
    margin-left: 15%;
    margin-bottom: 2em;
    margin-top: 3em;
    
  }
}