@import 'variable';
  
  

  .shopping_container{
    display: flex;    
    justify-content: space-around;
    padding: 0.5em;
    font-weight: 800;
    
    .ingredient_name_container{
     
    }
    .quantity_unit_container{
      display: flex;
      
      
          
      .ingredient_unit_container{
        
        margin-left: 0.5em;
      }
    }
    
  }

  .buttons_container{
    
    display: flex;
    justify-content: space-around;
    button{
      font-size: 14px;
      transition: 500ms;
      background: transparent;
      border-radius: 3px;
      color: $primary-font-color;
      padding: 0.5em;
      font-weight: 600;
      margin-top: 10px;
      box-shadow: 1px 2px;
    }
    button:hover{
      background: $primary-font-color;
      color: white;
    }
  }

  @media(min-width:600px){
    .buttons_container{
      button{
        font-size: 20px;
      }
    }

    .shopping_container{
    
      
      .ingredient_name_container{
        font-size: 24px;
      }
      .quantity_unit_container{
       
        font-size: 24px;
      } 
      .ingredient_quantity_container{
          font-size: 24px;
        }    
      .ingredient_unit_container{
          
          font-size: 24px;
        }
      
      
    }
  }

  @media(min-width:1000px){
    .buttons_container{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      button{ 
        font-size: 14px;
      }
      
    }
    .shopping_container{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }