@import 'variable';

.slider_container{
  background-image: url('https://s3-us-west-1.amazonaws.com/pantrify2/dan-gold-265213-unsplash.jpg');
  @extend %slider_shared ;
}
.slider_container2{
  background-image: url('https://s3-us-west-1.amazonaws.com/pantrify2/create1.jpeg');
  @extend %slider_shared ;
}
.slider_container3{
  background-image: url('https://s3-us-west-1.amazonaws.com/pantrify2/enjoy1.jpeg');
  @extend %slider_shared ;
}
.notSlider{
  display: none;
}


@media(min-width:600px){
  .slider_container{
   height: 73vh;
  }
  .slider_container2{
    height: 73vh;
  }
  .slider_container3{
    height: 73vh;
  }
  .notSlider{
    display: none;
  }
}

@media(min-width:1000px){
  .toggleSlider{
    display: none;
  }
  .notSlider{
    display: flex;
  }
}

