@import 'recipe_card';
@import 'recipe';
@import 'header';
@import 'hamburger';
@import 'simple_slider';
@import 'login';
@import 'recipes';
@import 'search';
@import 'shopping_list';
@import 'mealer';
@import 'toggle_color';
@import 'create_recipe';
@import 'toastify_styles';

body {
  background: white;
}

@media(min-width:1000px){
  body{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}